In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
with open('10-input.txt', 'r') as input_file:
    input_data = input_file.read().split('\n')

In [3]:
star_map = input_data[:-1]

star_map = input_data

In [4]:
def find_asteroids(star_map):
    homebase_coordinates = []
    rows = len(star_map)
    cols = len(star_map[0])
    for row in range(rows):
        for col in range(cols):
            asteroid = True if star_map[row][col] == '#' else False
            if asteroid:
                homebase_coordinates.append((col, row))
    return homebase_coordinates

In [5]:
def calc_determinant(vector1, vector2):
    x1, y1 = vector1
    x2, y2 = vector2
    determinant = (x1*y2)-(y1*x2)
    return determinant

In [6]:
def calc_vector_length(vector):
    x, y  = vector
    length = np.sqrt(x**2 + y**2)
    return length

In [7]:
def calc_unit_vector(vector):
    x, y = vector
    length = calc_vector_length(vector)
    unit_vector = ((x / length), (y / length))
    return unit_vector

In [6]:
def find_visible_asteroids(homebase, homebase_map):
    slope_count = set()
    base_vector = (0,1)
    for asteroid in homebase_map:
        vector = x, y = asteroid[0]-homebase[0], asteroid[1]-homebase[1]
#         unit_vector = x_uv, y_uv = calc_unit_vector(vector)  
        determinant = calc_determinant(base_vector, vector)
        if determinant >= 0:
            if 0 in vector:
                slope = x + y
            else:
                slope = x / y
        if determinant < 0:
            if 0 in vector:
                slope = 100 - (x + y)
            else:
                slope = 100 - (x / y)
#         print(f'>>>DEBUG: unit vector: {vector}')
        slope_count.add(slope)
#         print(f'>>>DEBUG: homebase: {homebase} asteroid: {asteroid} base_direction: {base_direction} line_of_sight: {line_of_sight} degree: {degree}')
    return slope_count

In [7]:
def evaluate_homebases(asteroid_map):
    homebase_dict = {}
    for homebase in asteroid_map:
        homebase_map = list(asteroid_map)
        homebase_map.remove(homebase,)
#         print(f'DEBUG>>> length homebase map: {len(homebase_map)}')
        slope_count = find_visible_asteroids(homebase, homebase_map)
        homebase_dict[homebase] = len(slope_count)
    return homebase_dict

In [8]:
asteroid_map = find_asteroids(star_map)

In [9]:
homebases_evaluated = evaluate_homebases(asteroid_map)

In [10]:
df_homebases = pd.DataFrame(index=homebases_evaluated.keys(), data=homebases_evaluated.values())
df_homebases.sort_values(by=0, ascending=False)

         0
7  26  308
1  23  306
3  13  306
9  26  306
0  25  305
...    ...
24 14  271
12 16  270
18 4   268
26 22  267
   16  262

[405 rows x 1 columns]