In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
with open('10-input.txt', 'r') as input_file:
    input_data = input_file.read().split('\n')

In [3]:
star_map = input_data[:-1]

star_map = input_data

In [4]:
def determinant(v1, v2):
    return v1[0]*v2[1]-v1[1]*v2[0]

def unit_vector(vector):
    """ Returns the unit vector of the vector.  """
    return vector / np.linalg.norm(vector)

def angle_between(v1, v2):
    """ Returns the angle in radians between vectors 'v1' and 'v2'::

            >>> angle_between((1, 0, 0), (0, 1, 0))
            1.5707963267948966
            >>> angle_between((1, 0, 0), (1, 0, 0))
            0.0
            >>> angle_between((1, 0, 0), (-1, 0, 0))
            3.141592653589793
    """
    v1_u = unit_vector(v1)
    v2_u = unit_vector(v2)
    return np.arccos(np.clip(np.dot(v1_u, v2_u), -1.0, 1.0))

In [5]:
def find_asteroids(star_map):
    homebase_coordinates = []
    rows = len(star_map)
    cols = len(star_map[0])
    for row in range(rows):
        for col in range(cols):
            asteroid = True if star_map[row][col] == '#' else False
            if asteroid:
                homebase_coordinates.append((col, row))
    return homebase_coordinates

In [6]:
def find_visible_asteroids(homebase, homebase_map):
    degrees_count = set()
#     print(f'>>>DEBUG: {asteroid_map}')
    homebase_map.remove(homebase,)
#     print(f'>>>DEBUG: {homebase_map}')
    for asteroid in homebase_map:
        base_direction = (0,1)
        line_of_sight = ( (asteroid[0]-homebase[0]), (asteroid[1]-homebase[1]) )
        det = determinant(base_direction, line_of_sight)
        radians = angle_between(base_direction, line_of_sight)
        degree = math.degrees(radians) if det > 0 else 360-math.degrees(radians)
        degrees_count.add(round(degree, 10))
#         print(f'>>>DEBUG: homebase: {homebase} asteroid: {asteroid} base_direction: {base_direction} line_of_sight: {line_of_sight} degree: {degree}')
    return degrees_count

In [7]:
def evaluate_homebases(asteroid_map):
    homebase_dict = {}
    for homebase in asteroid_map:
        homebase_map = list(asteroid_map)
        degrees_count = find_visible_asteroids(homebase, homebase_map)
        homebase_dict[homebase] = len(degrees_count)
    return homebase_dict

In [8]:
asteroid_map = find_asteroids(star_map)
# asteroid_map

In [9]:
homebases_evaluated = evaluate_homebases(asteroid_map)

In [ ]:
homebases_evaluated

In [10]:
df_homebases = pd.DataFrame(index=homebases_evaluated.keys(), data=homebases_evaluated.values())
df_homebases.sort_values(by=0, ascending=False)

         0
17 23  296
23 13  295
   19  295
   23  295
   7   295
...    ...
6  26  263
0  20  263
10 0   262
18 4   260
26 16  259

[405 rows x 1 columns]