In [1]:
import numpy as np
import pandas as pd

The history saving thread hit an unexpected error (DatabaseError('database disk image is malformed')).History will not be written to the database.

In [2]:
with open('10-input.txt', 'r') as input_file:
    input_data = input_file.read().split('\n')

In [3]:
star_map = input_data[:-1]

In [5]:
def find_asteroids(star_map):
    homebase_coordinates = []
    rows = len(star_map)
    cols = len(star_map[0])
    for row in range(rows):
        for col in range(cols):
            asteroid = True if star_map[row][col] == '#' else False
            if asteroid:
                homebase_coordinates.append((col, row))
    return set(homebase_coordinates)

In [6]:
def remove_asteroid(asteroid, homebase_map):
    asteroid_tuple = asteroid,
    asteroid_set = set(asteroid_tuple)
#     print(f'>>>DEBUG: Map before: {homebase_map}')
    homebase_map = set.difference(homebase_map, asteroid_set)
#     print(f'>>>DEBUG: Map after: {homebase_map}')
    return homebase_map

In [7]:
def calc_line_of_sight(homebase, asteroid):
    line_x = asteroid[0]-homebase[0]
    line_y = asteroid[1]-homebase[1]
    line_x = 1 if (line_y == 0) or (line_x == line_y) else line_x
    line_y = 1 if (line_x == 0) or (line_x == line_y) else line_y
    return (line_x, line_y)

In [15]:
def find_visible_asteroids(homebase, asteroid_map):
    homebase_map = asteroid_map.copy()
    homebase_map = remove_asteroid(homebase, homebase_map)
    asteroid = homebase_map[0]
    line_of_sight = calc_line_of_sight(homebase, asteroid)
    for i in range(1, 100):
        x = asteroid[0]+(line_of_sight[0]*i)
        y = asteroid[1]+(line_of_sight[1]*i)
        blocked_spot = (x,y)
        homebase_map = remove_asteroid(blocked_spot, homebase_map)
    if len(homebase_map) > 1:
        find-visible_asteroids(asteroid, homebase_map)
    else:
        return homebase_map

def find_visible_asteroids(homebase, asteroid_map):
    homebase_map = asteroid_map.copy()
    homebase_map = remove_asteroid(homebase, homebase_map)
    for asteroid in homebase_map:
        line_of_sight = calc_line_of_sight(homebase, asteroid)
        for i in range(1, 100):
            x = asteroid[0]+(line_of_sight[0]*i)
            y = asteroid[1]+(line_of_sight[1]*i)
            blocked_spot = (x,y)
            homebase_map = remove_asteroid(blocked_spot, homebase_map)
    return homebase_map

In [9]:
def evaluate_homebases(asteroid_map):
    homebase_dict = {}
    for homebase in asteroid_map:
        visible_asteroids = find_visible_asteroids(homebase, asteroid_map)
        homebase_dict[homebase] = len(visible_asteroids)
    return homebase_dict

In [13]:
asteroid_map = find_asteroids(star_map)
len(asteroid_map)

405

In [16]:
homebases_evaluated = evaluate_homebases(asteroid_map)

TypeError: 'set' object is not subscriptable

In [12]:
df_homebases = pd.DataFrame(index=homebases_evaluated.keys(), data=homebases_evaluated.values())
df_homebases.sort_values(by=0, ascending=False)

         0
23 13  320
   19  315
3  7   313
23 7   313
26 23  313
...    ...
12 16  272
14 4   271
6  26  271
10 0   265
18 4   265

[405 rows x 1 columns]

In [ ]:
test_list = [(1,2), (3,4), (4,5)]
test = set(test_list)
test2_list = (1,2)
test2 = set(test2_list,)

In [ ]:
test.difference(test2)

In [ ]:
test2