In [21]:
import numpy as np
import pandas as pd
import math

In [103]:
with open('10-input.txt', 'r') as input_file:
    input_data = input_file.read().split('\n')

In [105]:
star_map = input_data[:-1]

star_map = input_data

In [35]:
def find_asteroids(star_map):
    homebase_coordinates = []
    rows = len(star_map)
    cols = len(star_map[0])
    for row in range(rows):
        for col in range(cols):
            asteroid = True if star_map[row][col] == '#' else False
            if asteroid:
                homebase_coordinates.append((col, row))
    return homebase_coordinates

In [118]:
def find_visible_asteroids(homebase, homebase_map):
    vector_count = set()
    for asteroid in homebase_map:
        x = asteroid[0]-homebase[0]
        y = asteroid[1]-homebase[1]
        if y != 0 and x != 0:
            if y > 0 and x < 0:
                vector = str(x / y) + 'lu'
            elif y > 0 and x > 0:
                vector = str(x / y) + 'ru'
            elif y < 0 and x < 0:
                vector = str(x / y) + 'll'
            else:
                vector = str(x / y) + 'rl'
        elif y != 0 and x == 0:
            vector = str(y / abs(y)) + 'ud'
        else:
            vector = str(x / abs(x)) + 'lr'
#         print(f'>>>DEBUG: unit vector: {vector}')
        vector_count.add(vector)
#         print(f'>>>DEBUG: homebase: {homebase} asteroid: {asteroid} base_direction: {base_direction} line_of_sight: {line_of_sight} degree: {degree}')
    return vector_count

In [115]:
def evaluate_homebases(asteroid_map):
    homebase_dict = {}
    for homebase in asteroid_map:
        homebase_map = list(asteroid_map)
        homebase_map.remove(homebase,)
#         print(f'DEBUG>>> length homebase map: {len(homebase_map)}')
        vector_count = find_visible_asteroids(homebase, homebase_map)
        homebase_dict[homebase] = len(vector_count)
    return homebase_dict

In [119]:
asteroid_map = find_asteroids(star_map)
len(asteroid_map)

405

In [120]:
homebases_evaluated = evaluate_homebases(asteroid_map)

In [80]:
homebases_evaluated

{(1, 0): 190,
 (4, 0): 187,
 (5, 0): 192,
 (7, 0): 190,
 (8, 0): 194,
 (9, 0): 184,
 (13, 0): 188,
 (14, 0): 193,
 (15, 0): 189,
 (16, 0): 193,
 (17, 0): 195,
 (18, 0): 190,
 (19, 0): 187,
 (0, 1): 197,
 (1, 1): 192,
 (3, 1): 196,
 (4, 1): 190,
 (5, 1): 198,
 (6, 1): 195,
 (7, 1): 195,
 (8, 1): 198,
 (9, 1): 197,
 (10, 1): 189,
 (11, 1): 200,
 (12, 1): 198,
 (13, 1): 191,
 (14, 1): 198,
 (17, 1): 196,
 (18, 1): 197,
 (1, 2): 189,
 (3, 2): 187,
 (4, 2): 190,
 (5, 2): 194,
 (6, 2): 195,
 (7, 2): 194,
 (8, 2): 193,
 (10, 2): 190,
 (11, 2): 197,
 (12, 2): 191,
 (13, 2): 192,
 (14, 2): 193,
 (15, 2): 190,
 (16, 2): 195,
 (17, 2): 193,
 (19, 2): 190,
 (1, 3): 196,
 (2, 3): 197,
 (3, 3): 194,
 (5, 3): 192,
 (6, 3): 196,
 (7, 3): 194,
 (8, 3): 197,
 (9, 3): 198,
 (10, 3): 190,
 (11, 3): 196,
 (13, 3): 193,
 (14, 3): 198,
 (15, 3): 196,
 (16, 3): 190,
 (18, 3): 193,
 (0, 4): 196,
 (1, 4): 185,
 (2, 4): 193,
 (3, 4): 186,
 (4, 4): 192,
 (6, 4): 195,
 (7, 4): 188,
 (9, 4): 189,
 (11, 4): 195,
 (12, 4): 192,
 (14, 4): 193,
 (15, 4): 186,
 (16, 4): 193,
 (18, 4): 193,
 (19, 4): 187,
 (2, 5): 202,
 (3, 5): 197,
 (4, 5): 189,
 (5, 5): 203,
 (6, 5): 199,
 (9, 5): 197,
 (11, 5): 201,
 (12, 5): 197,
 (13, 5): 199,
 (14, 5): 201,
 (15, 5): 197,
 (16, 5): 196,
 (17, 5): 198,
 (18, 5): 195,
 (19, 5): 191,
 (0, 6): 193,
 (1, 6): 188,
 (2, 6): 197,
 (3, 6): 190,
 (4, 6): 191,
 (5, 6): 191,
 (6, 6): 194,
 (7, 6): 192,
 (8, 6): 197,
 (9, 6): 195,
 (10, 6): 191,
 (11, 6): 197,
 (12, 6): 195,
 (13, 6): 191,
 (14, 6): 198,
 (15, 6): 188,
 (16, 6): 193,
 (17, 6): 193,
 (18, 6): 193,
 (19, 6): 190,
 (0, 7): 202,
 (2, 7): 201,
 (3, 7): 195,
 (4, 7): 195,
 (5, 7): 203,
 (10, 7): 197,
 (11, 7): 201,
 (12, 7): 200,
 (14, 7): 199,
 (16, 7): 194,
 (18, 7): 194,
 (19, 7): 192,
 (0, 8): 196,
 (1, 8): 190,
 (3, 8): 190,
 (4, 8): 192,
 (5, 8): 193,
 (6, 8): 198,
 (7, 8): 194,
 (8, 8): 200,
 (9, 8): 194,
 (10, 8): 195,
 (11, 8): 194,
 (12, 8): 196,
 (13, 8): 192,
 (14, 8): 197,
 (15, 8): 191,
 (16, 8): 193,
 (17, 8): 194,
 (18, 8): 189,
 (19, 8): 194,
 (0, 9): 198,
 (1, 9): 191,
 (2, 9): 203,
 (3, 9): 196,
 (4, 9): 186,
 (6, 9): 195,
 (7, 9): 194,
 (9, 9): 196,
 (10, 9): 190,
 (11, 9): 195,
 (14, 9): 198,
 (15, 9): 193,
 (16, 9): 195,
 (17, 9): 191,
 (2, 10): 200,
 (3, 10): 184,
 (4, 10): 188,
 (5, 10): 200,
 (6, 10): 194,
 (7, 10): 194,
 (10, 10): 193,
 (11, 10): 197,
 (13, 10): 186,
 (14, 10): 192,
 (15, 10): 192,
 (16, 10): 193,
 (17, 10): 196,
 (18, 10): 192,
 (19, 10): 187,
 (0, 11): 198,
 (1, 11): 198,
 (2, 11): 196,
 (3, 11): 199,
 (5, 11): 200,
 (6, 11): 196,
 (8, 11): 198,
 (9, 11): 197,
 (10, 11): 197,
 (11, 11): 201,
 (15, 11): 191,
 (16, 11): 193,
 (19, 11): 191,
 (1, 12): 190,
 (2, 12): 196,
 (3, 12): 189,
 (4, 12): 189,
 (5, 12): 191,
 (8, 12): 196,
 (10, 12): 191,
 (11, 12): 193,
 (12, 12): 191,
 (13, 12): 191,
 (14, 12): 194,
 (15, 12): 192,
 (17, 12): 196,
 (18, 12): 190,
 (19, 12): 190,
 (0, 13): 200,
 (1, 13): 194,
 (5, 13): 202,
 (7, 13): 199,
 (8, 13): 206,
 (9, 13): 196,
 (10, 13): 200,
 (11, 13): 208,
 (12, 13): 201,
 (13, 13): 201,
 (14, 13): 201,
 (15, 13): 193,
 (16, 13): 201,
 (0, 14): 196,
 (2, 14): 198,
 (3, 14): 194,
 (4, 14): 194,
 (5, 14): 195,
 (6, 14): 196,
 (7, 14): 192,
 (8, 14): 201,
 (9, 14): 190,
 (10, 14): 195,
 (11, 14): 193,
 (13, 14): 194,
 (14, 14): 192,
 (15, 14): 192,
 (16, 14): 194,
 (17, 14): 194,
 (18, 14): 194,
 (19, 14): 193,
 (1, 15): 196,
 (2, 15): 200,
 (3, 15): 196,
 (4, 15): 191,
 (6, 15): 193,
 (8, 15): 198,
 (9, 15): 196,
 (10, 15): 194,
 (12, 15): 195,
 (13, 15): 193,
 (14, 15): 193,
 (16, 15): 194,
 (18, 15): 192,
 (19, 15): 187,
 (4, 16): 193,
 (5, 16): 193,
 (7, 16): 189,
 (8, 16): 195,
 (10, 16): 190,
 (11, 16): 192,
 (12, 16): 193,
 (15, 16): 186,
 (16, 16): 188,
 (17, 16): 195,
 (18, 16): 192,
 (19, 16): 193,
 (1, 17): 197,
 (3, 17): 201,
 (5, 17): 206,
 (6, 17): 195,
 (7, 17): 198,
 (8, 17): 200,
 (9, 17): 198,
 (10, 17): 201,
 (11, 17): 204,
 (12, 17): 196,
 (13, 17): 199,
 (14, 17): 199,
 (15, 17): 197,
 (17, 17): 198,
 (18, 17): 191,
 (19, 17): 196,
 (0, 18): 195,
 (2, 18): 199,
 (4, 18): 188,
 (6, 18): 194,
 (7, 18): 190,
 (8, 18): 197,
 (9, 18): 190,
 (10, 18): 187,
 (12, 18): 195,
 (13, 18): 185,
 (14, 18): 195,
 (15, 18): 186,
 (17, 18): 195,
 (18, 18): 191,
 (19, 18): 189,
 (0, 19): 202,
 (1, 19): 199,
 (2, 19): 202,
 (4, 19): 196,
 (5, 19): 200,
 (7, 19): 199,
 (8, 19): 199,
 (9, 19): 192,
 (10, 19): 196,
 (12, 19): 198,
 (13, 19): 200,
 (15, 19): 196,
 (18, 19): 199,
 (19, 19): 189}

In [121]:
df_homebases = pd.DataFrame(index=homebases_evaluated.keys(), data=homebases_evaluated.values())
df_homebases.sort_values(by=0, ascending=False)

         0
17 23  296
23 13  295
   19  295
   23  295
   7   295
...    ...
6  26  263
0  20  263
10 0   262
18 4   260
26 16  259

[405 rows x 1 columns]