In [1]:
import numpy as np
import pandas as pd
import math

The history saving thread hit an unexpected error (DatabaseError('database disk image is malformed')).History will not be written to the database.

In [2]:
with open('10-input.txt', 'r') as input_file:
    input_data = input_file.read().split('\n')

In [3]:
star_map = input_data[:-1]

star_map = input_data

In [4]:
# create a list containing only coordinates of asteroids
def find_asteroids(star_map):
    homebase_coordinates = []
    rows = len(star_map)
    cols = len(star_map[0])
    for row in range(rows):
        for col in range(cols):
            asteroid = True if star_map[row][col] == '#' else False
            if asteroid:
                homebase_coordinates.append((col, row))
    return homebase_coordinates

In [ ]:
# vector length only required to calculate the unit vector
def calc_vector_length(vector):
    x, y  = vector
    length = np.sqrt(x**2 + y**2)
    return length

In [26]:
# each unit vector is of length 1
def calc_unit_vector(vector):
    x, y = vector
    length = calc_vector_length(vector)
    unit_vector = (round(x / length, 5), round(y / length, 5))
#     print(f'>>>DEBUG: vector: {vector}, unit_vector: {unit_vector}')
    return unit_vector

In [23]:
def find_visible_asteroids(homebase, homebase_map):
    slope_count = set()
    for asteroid in homebase_map:
        vector = asteroid[0]-homebase[0], asteroid[1]-homebase[1]
        unit_vector = calc_unit_vector(vector) # normalization required for asteroids that are in line on the x and y axis
#         print(f'>>>DEBUG: unit vector: {vector}')
        slope_count.add(unit_vector)
#         print(f'>>>DEBUG: {slope_count}')
    return slope_count

In [14]:
def evaluate_homebases(asteroid_map):
    homebase_dict = {}
    for homebase in asteroid_map:
        homebase_map = list(asteroid_map)
        homebase_map.remove(homebase,)
#         print(f'DEBUG>>> length homebase map: {len(homebase_map)}')
        slope_count = find_visible_asteroids(homebase, homebase_map)
        homebase_dict[homebase] = len(slope_count)
    return homebase_dict

In [18]:
asteroid_map = find_asteroids(star_map)

In [27]:
homebases_evaluated = evaluate_homebases(asteroid_map)

In [28]:
df_homebases = pd.DataFrame(index=homebases_evaluated.keys(), data=homebases_evaluated.values())
df_homebases.sort_values(by=0, ascending=False)

         0
17 23  296
23 13  295
   19  295
   23  295
   7   295
...    ...
6  26  263
0  20  263
10 0   262
18 4   260
26 16  259

[405 rows x 1 columns]